#navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
	div {
		h1 {
			font-size: 3em;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #954545;

	#sideBarLeft {
		background-color: aqua;
	}
	#sideBarRight {
		background-color: bisque;
	}
	#map {
		background-color: aquamarine;
	}
}
